extends layout.pug
block content
    ul 
        li: a(href="/sqli", title="SQL Injection") SQL Umetanje (SQL Injection)
        li: a(href="/broken-auth", title="Broken Authentication") Loša autentifikacija (Broken Authentication)

    