doctype html
html
    head 
        style 
            include ../public/styles/style.css
        title web2 projekt 2
    body
        div.header
            nav 
                a(href="/", title="Home") Home
                a(href="/reset", title="Reset") Resetiraj bazu podataka
        block content
        script 
            include ../public/js/script.js